@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  scroll-behavior: smooth;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.editorlink::before {
  content: attr(href);
  text-decoration: underline;
  font-weight: 500;
  color: #172554;
}

#hand {
  width: 21%;
  animation: handAnimation 3s infinite;
}

@media (max-width: 768px) {
  #laptop {
    bottom: -7%;
  }

  #hand {
    width: 50%;
    animation: handAnimation 3s infinite;
  }
}

@keyframes handAnimation {
  0% {
    bottom: 0%;
  }

  50% {
    bottom: 20%;
  }

  100% {
    bottom: 0%;
  }
}

@keyframes handAnimationMobile {
  0% {
    bottom: 0%;
  }

  50% {
    bottom: 5%;
  }

  100% {
    bottom: 0%;
  }
}